
<div class="container">
    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <ol class="breadcrumb">
                    <li><a href="#/home">首页</a></li>
                    <li><a ng-href="#/list/{{category.category}}/" ng-click="activeBar(category.category)">{{category.categoryName}}</a></li>
                    <li class="active">{{current.name}}&nbsp;{{current.number}}</li>
                </ol>
                <div class="panel-body">
                    <ul>
                        <li class="li" ng-repeat="item in items">{{item.time| date : 'yyyy-MM-dd'}} »&nbsp;&nbsp;<span ng-click="showDetail(item.id)" style="cursor: pointer"><a>{{item.title}}</a></span></li>
                    </ul>
                </div>
            </div>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <div class="panel panel-default">
                <ol class="breadcrumb">
                    <li>{{category.categoryName}}</li>
                </ol>
                <div class="panel-body">
                    <ul>
                        <li class="li" ng-repeat="subject in subjects">
                            <span ng-click="showList(subject)" style="cursor: pointer"><a>{{subject.name}}</a>({{subject.number}})</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
</div><!-- /.container -->